<div class="con mb-3 mt-3" class="home">
  <div class="row g-0 " >

    <div class="col-md-6 mb-3 home">
      <div class="card-body ">
        <h1 class="card-title home__title">¡Bienvenido a Tria Electrónica!</h1>


          <div class="example-button-row ">
            <a href="#" class="btn btn-primary">Go somewhere</a>

          </div>

      </div>
    </div>
    <div class="col-md-6 m-10 home__img">
      <img src="../../../assets/img/robin-glauser-zP7X_B86xOg-unsplash.jpg" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>

<div class="con mb-3 mt-3" class="home">
  <div class="row g-0 " >

    <div class="col mb-3 home">
      <div class="card-body ">
        <h1 class="card-title home__text text-center" style="color: #6587DF;">Quiénes somos en Tria Electrónica</h1>
        <h5 class="card-title home__title text-center">Somos apacionados por la electronica</h5>
        <p class="card-text text-center">En Tria Electrónica, somos un equipo apasionado por la electrónica y nos dedicamos a brindar cursos en formato PDF para aquellos que desean aprender y dominar esta emocionante disciplina. Nuestro objetivo principal es hacer que el aprendizaje de la electrónica sea accesible, práctico y divertido para todos.</p>



          <div class="example-button-row text-center ">
            <a href="#" class="btn btn-primary">Go somewhere</a>

          </div>

      </div>
    </div>

  </div>
</div>

<div class="con mb-3 mt-3" class="home">
  <div class="row g-0 " >

    <div class="col mb-3 home">
      <div class="card-body ">
        <h1 class="card-title home__text text-center" style="color: #6587DF;">Offering</h1>
        <h5 class="card-title home__title text-center">Our amazing services</h5>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="../../../assets/icons/bxs-spreadsheet 1.svg"  alt="...">
          <div class="card-body ">
            <h5 class="card-title text-center">Cursos especializados</h5>
            <p class="card-text text-center">Desde electrónica básica hasta temas más avanzados como microcontroladores y circuitos integrados, tenemos una amplia selección de cursos para todos los niveles de experiencia.</p>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/icons/bxs-spreadsheet 1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cursos especializados</h5>
            <p class="card-text">Desde electrónica básica hasta temas más avanzados como microcontroladores y circuitos integrados, tenemos una amplia selección de cursos para todos los niveles de experiencia.</p>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/icons/bxs-spreadsheet 1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cursos especializados</h5>
            <p class="card-text">Desde electrónica básica hasta temas más avanzados como microcontroladores y circuitos integrados, tenemos una amplia selección de cursos para todos los niveles de experiencia.</p>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/icons/bxs-spreadsheet 1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cursos especializados</h5>
            <p class="card-text">Desde electrónica básica hasta temas más avanzados como microcontroladores y circuitos integrados, tenemos una amplia selección de cursos para todos los niveles de experiencia.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



