

.bd-grid{
  display: grid;
  gap: 1.5rem;
}


/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}



@media screen and (min-width: 768px){

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }

}

